@model ASI.Basecode.Services.ServiceModels.PerformanceReportViewModel

<div>
    <h3>Performance Report for @Model.User.Name</h3>
    <p>Resolved Tickets: @Model.ResolvedTickets</p>
    <p>Average Resolution Time: @Model.AverageResolutionTime minutes</p>
</div>
